.xs-font {
  font-size: var(--ion-padding, 8px);
}
.sm-font {
  font-size: var(--ion-padding, 10px);
}
.md-font {
  font-size: var(--ion-padding, 12px);
}
.lg-font {
  font-size: var(--ion-padding, 20px);
}
